*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins" , sans-serif ;
  }
  body{
    background-color: #F6F5F8;
    height: 100%;
  }
  ul{
    list-style-type: none;
  }
  
  li{
    margin-top: 20px;
  }
  .item{
    position: relative;
    text-decoration: none;
    color: black;
    display: table;
    width: 300px;
    padding: 10px;
  }
  .item:hover{
    opacity: 0.8;
  }
  .icon{
    position: relative;
    width: 50px;
    height: 30px;
    font-size: 25px;
    top: 2px;
    text-align: center;
  }
  .nav-item{
    margin-left: 14px;
    font-size: 20px;
    font-weight: 500;
  }
  .contact{
    position: absolute;
    bottom: 15px;
  }
  nav{
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: #ffffff;
    overflow: hidden;
    height: 100%;
    padding: 5px;
    transition: width .2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    border-radius: 0 20px 20px 0;
  }
  .menu{
    width: 230px;
  }
  .main{
    width: 60%;
    margin: auto;
    padding: 20px;
  }
  .title{
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  .container{
    border-radius: 15px;
    background-color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  }
  .container div{
    margin-top: 20px;
    display: flex;
  }
  .container div span{
    width: 30%;
  }
  input[type='text'],textarea{
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
  }
  .button{
    display: flex;
    justify-content: left;
    padding: 20px 0;
    margin-top: 10px;
  }
  .button button{
    background-color: #312861;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    font-size: 20px;
  }
  .button span{
    margin-left: 20px;
    display: flex;
    align-self: center;
  }